<div class="container p-2">
  <div class="mb-4">
    <%= link_to(recipe_path(@recipe), class: "button") do %>
      <span class="icon">
        <i class="fas fa-arrow-left"></i>
      </span>
      <span>Back to recipe</span>
    <% end %>
  </div>

  <p class="title">
    <%= @recipe.name %> Recipe Ingredients
  </p>


  <ul class="mb-6 ml-6 mr-6" data-controller="sortable" data-sortable-animation-value="150"
      data-sortable-resource-name-value="recipe_ingredient"
      data-sortable-handle-value=".handle">
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li class="card mb-2" data-id="<%= recipe_ingredient.id %>" data-sortable-update-url="<%= recipe_ingredient_path(@recipe.id, recipe_ingredient.id) %>">
        <div class="card-content">
          <div class="columns is-mobile">
            <div class="column handle">
              <p class="title is-size-5">
                <%= recipe_ingredient.ingredient.name %>
              </p>
              <p class="subtitle">
                <%= recipe_ingredient.quantity %> <%= recipe_ingredient.unit %>
              </p>
            </div>
            <div class="column is-one-quarter">
              <%= button_to "Delete", recipe_ingredient_path(@recipe, recipe_ingredient), method: :delete, class: "delete is-large is-pulled-right"%>
            </div>
          </div>
        </div>
      </li>
    <% end %>
  </ul>


  <%= render 'form' %>
</div>