<div class="container p-2">
  <p class="title">
    <%= @recipe.name %> Recipe Ingredients
  </p>


  <ul class="StackedList StackedList--hasScroll mb-6">
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li class="card StackedListItem StackedListItem--isDraggable mb-2" draggable="true" data-id="<%= recipe_ingredient.id %>">
        <div class="card-content">
          <button class="delete is-large is-pulled-right"></button>
          <p class="title is-size-5">
            <%= recipe_ingredient.ingredient.name %>
          </p>
          <p class="subtitle">
            <%= recipe_ingredient.quantity %> <%= recipe_ingredient.unit %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>


  <%= render 'form' %>
</div>