<div class="container p-2">
  <p class="title">
    <%= @recipe.name %> Recipe Ingredients
  </p>


  <ul class="mb-6" data-controller="sortable" data-sortable-animation-value="150" data-sortable-resource-name-value="recipe_ingredient">
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li class="card mb-2" data-id="<%= recipe_ingredient.id %>" data-sortable-update-url="<%= recipe_ingredient_path(@recipe.id, recipe_ingredient.id) %>">
        <div class="card-content">
          <%= button_to "Delete", recipe_ingredient_path(@recipe, recipe_ingredient), method: :delete, class: "delete is-large is-pulled-right"%>
          <p class="title is-size-5">
            <%= recipe_ingredient.ingredient.name %>
          </p>
          <p class="subtitle">
            <%= recipe_ingredient.quantity %> <%= recipe_ingredient.unit %>
          </p>
        </div>
      </li>
    <% end %>
  </ul>


  <%= render 'form' %>
</div>