<%= form_for(recipes_path, method: :get) do |form| %>
<div class="container p-2">
  <div class="field has-addons is-hidden-touch">
    <div class="control has-icons-left is-expanded">
      <input class="input is-fullwidth is-large" type="text" name="search" value="<%= @search_term %>">
      <span class="icon is-left">
        <i class="fas fa-search"></i>
      </span>
    </div>
    <div class="control">
      <button class="button is-primary is-large">
        Search
      </button>
    </div>
  </div>
<% end %>

  <%= form_for(recipes_path, method: :get) do |form| %>
    <div class="field has-addons is-hidden-desktop">
      <div class="control has-icons-left">
        <input class="input" type="text" name="search"  value="<%= @search_term %>">
        <span class="icon is-left">
          <i class="fas fa-search"></i>
        </span>
      </div>
      <div class="control">
        <button class="button is-primary">
          Search
        </button>
      </div>
    </div>
  <% end %>


  <div class="columns is-multiline">
    <% @user_recipes.each do |recipe| %>
      <div class="column is-one-third-desktop">
        <div class="card">
          <div class="card-content" style="position:relative">

            <% if recipe.user != current_user %>
              <span class="shared-text is-size-7">(From <%= recipe.user.email %>)</span>
            <% end %>
            <p class="title">
              <%= recipe.name %>
            </p>
            <p class="subtitle">
              <%= recipe.updated_at.strftime("%B %d, %Y") %>
            </p>
          </div>
          <div class="card-image">
            <figure class="image is-4by3">
              <% if recipe.image.attached? %>
                <%= image_tag recipe.image, style: "object-fit: cover;" %>
              <% end %>
            </figure>
          </div>
          <footer class="card-footer">
            <a href="<%= recipe_path(id: recipe.id) %>" class="card-footer-item">
              View
            </a>
            <% if !@used_recipes.include?(recipe.id) %>
              <%= button_to 'Add to list', recipe_add_to_list_path(recipe.id), :form_class => "card-footer-item", method: :post %>
              <% else %>
              <div class="card-footer-item">
                <span class="icon-text has-text-success">
                  <span class="icon">
                    <i class="fas fa-check"></i>
                  </span>
                  <span>In list</span>
                </span>
              </div>
            <% end %>
          </footer>
        </div>
      </div>
    <% end %>
  </div>

  <a href="<%= new_recipe_path %>" class="button is-floating is-primary">
    <i class="fas fa-add"></i>
  </a>
</div>