<div class="container p-2 pb-4 is-clearfix" id="static_data">

  <% if !current_user.nil? && !@shopping_list.nil? && @shopping_list.user_id == current_user.id %>
    <div class="is-pulled-right">
      <div>
        <a class="is-pulled-right" href="<%="whatsapp://send?text=Hey there, here is the shopping list #{shopping_list_by_code_url(@shopping_list.share_code)}" %>" } data-action="share/whatsapp/share">
          <img width="150" src="/whatsapp-share-button.png"/>
        </a>
      </div>

      <div class="is-pulled-right">
        Or share the following link
        <a href="<%=shopping_list_by_code_url(@shopping_list.share_code) %>">
          <%=shopping_list_by_code_url(@shopping_list.share_code) %>
        </a>
      </div>
    </div>
  <% end %>

  <p class="title">
    Shopping List
    <% if !current_user.nil? && !@shopping_list.nil? && @shopping_list.user_id == current_user.id %>
      <%= link_to "Edit", edit_shopping_list_path(@shopping_list), class: "ml-4 is-size-6" %>
    <% end %>
  </p>

<% if @shopping_list.nil? %>
  No shopping list

  <% else %>
  <% @groups.each do |group| %>
      <p class="title is-size-5">
        <%= group[0] %>
      </p>

      <table class="table is-fullwidth">
        <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <% group[1].each do |shopping_list_ingredient| %>
          <tr class="block shopping_list_item">
            <% if shopping_list_ingredient.instance_of? ShoppingListIngredient %>
              <td><%= shopping_list_ingredient.ingredient.name %></td>
              <td><%= shopping_list_ingredient.quantity %> <%= shopping_list_ingredient.unit %></td>
            <% end %>

            <% if shopping_list_ingredient.instance_of? ShoppingListAdditionalItem %>
              <td><%= shopping_list_ingredient.name %></td>
              <td></td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    <% end %>

    <% if !current_user.nil? && @shopping_list.user_id == current_user.id %>
      <%= button_to "Complete List", shopping_list_path(@shopping_list), method: :delete, class: "button is-danger mt-4 is-pulled-right", form: { data: {  turbo_confirm: "Are you sure you want to complete this list?" } } %>
    <% end %>
<% end %>
</div>
<div id="shopping_list">

</div>